# **Introduction √† SQL avec Python**
Ce notebook est une mini formation sur **SQL avec Python**.
Il couvre l'ex√©cution de requ√™tes SQL avec `SQLite`, `pandas` et `SQLAlchemy`.

**Objectifs :**
- Apprendre √† cr√©er et manipuler une base de donn√©es avec SQLite.
- Ex√©cuter des requ√™tes SQL directement depuis Python.
- Charger des donn√©es SQL dans `pandas` pour l'analyse.

## **1. Installation et Importation des Biblioth√®ques**

In [3]:
%pip install pandas sqlalchemy

Requirement already satisfied: pandas in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: numpy>=1.26.0 in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in /home/benjamin-jurczak/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:

import sqlite3
import pandas as pd
from sqlalchemy import create_engine

## **2. Cr√©ation d'une Base de Donn√©es SQLite**

In [5]:

# Connexion √† une base SQLite (ou cr√©ation si elle n'existe pas)
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Cr√©ation d'une table Users
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Users (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        city TEXT
    )
''')

conn.commit()
print("Base de donn√©es et table cr√©√©es.")

Base de donn√©es et table cr√©√©es.

## **3. Insertion de Donn√©es**

In [6]:

# Insertion de quelques utilisateurs
cursor.execute("INSERT INTO Users (name, age, city) VALUES ('Alice', 25, 'Paris')")
cursor.execute("INSERT INTO Users (name, age, city) VALUES ('Bob', 30, 'Lyon')")
cursor.execute("INSERT INTO Users (name, age, city) VALUES ('Charlie', 35, 'Marseille')")

conn.commit()
print("Donn√©es ins√©r√©es.")

Donn√©es ins√©r√©es.

## **4. Lecture des Donn√©es**

In [7]:

# Lecture de toutes les donn√©es
cursor.execute("SELECT * FROM Users")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Alice', 25, 'Paris')
(2, 'Bob', 30, 'Lyon')
(3, 'Charlie', 35, 'Marseille')

## **5. Ex√©cution de Requ√™tes SQL avec pandas**

In [8]:

# Charger les donn√©es dans un DataFrame pandas
df = pd.read_sql("SELECT * FROM Users", conn)
print(df)

   id     name  age       city
0   1    Alice   25      Paris
1   2      Bob   30       Lyon
2   3  Charlie   35  Marseille

## **6. Requ√™tes SQL avec Filtres et Conditions**

In [9]:

# S√©lectionner les utilisateurs √¢g√©s de plus de 30 ans
df_filtered = pd.read_sql("SELECT * FROM Users WHERE age > 30", conn)
print(df_filtered)

   id     name  age       city
0   3  Charlie   35  Marseille

## **7. Agr√©gations et GroupBy en SQL**

In [10]:

# Nombre d'utilisateurs par ville
df_grouped = pd.read_sql("SELECT city, COUNT(*) as total FROM Users GROUP BY city", conn)
print(df_grouped)

        city  total
0       Lyon      1
1  Marseille      1
2      Paris      1

## **8. Jointures en SQL**

In [11]:

# Cr√©ation d'une nouvelle table 'Orders'
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        id INTEGER PRIMARY KEY,
        user_id INTEGER,
        amount FLOAT,
        FOREIGN KEY (user_id) REFERENCES Users(id)
    )
''')

# Insertion de commandes
cursor.execute("INSERT INTO Orders (user_id, amount) VALUES (1, 100.5)")
cursor.execute("INSERT INTO Orders (user_id, amount) VALUES (2, 200.0)")
cursor.execute("INSERT INTO Orders (user_id, amount) VALUES (1, 50.0)")

conn.commit()

# Jointure entre Users et Orders
df_joined = pd.read_sql('''
    SELECT Users.name, Users.city, Orders.amount 
    FROM Users 
    INNER JOIN Orders ON Users.id = Orders.user_id
''', conn)

print(df_joined)

    name   city  amount
0  Alice  Paris   100.5
1    Bob   Lyon   200.0
2  Alice  Paris    50.0

## **9. Mise √† Jour et Suppression de Donn√©es**

In [12]:

# Mise √† jour de l'√¢ge d'un utilisateur
cursor.execute("UPDATE Users SET age = 28 WHERE name = 'Alice'")
conn.commit()

# Suppression d'un utilisateur
cursor.execute("DELETE FROM Users WHERE name = 'Charlie'")
conn.commit()

# V√©rification des changements
df_updated = pd.read_sql("SELECT * FROM Users", conn)
print(df_updated)

   id   name  age   city
0   1  Alice   28  Paris
1   2    Bob   30   Lyon

## **10. Utilisation de SQLAlchemy pour la Gestion des Bases de Donn√©es**

In [13]:

# Cr√©ation d'un moteur SQLAlchemy
engine = create_engine("sqlite:///database.db")

# Lecture des donn√©es avec SQLAlchemy et pandas
df_sqlalchemy = pd.read_sql("SELECT * FROM Users", engine)
print(df_sqlalchemy)

   id   name  age   city
0   1  Alice   28  Paris
1   2    Bob   30   Lyon

## **11. Fermeture de la Connexion**

In [14]:

# Fermeture de la connexion
conn.close()
print("Connexion ferm√©e.")

Connexion ferm√©e.

## **12. Conclusion**
- Nous avons vu comment utiliser SQL avec Python.
- `sqlite3` permet d'ex√©cuter des requ√™tes SQL.
- `pandas` et `SQLAlchemy` permettent une int√©gration efficace avec SQL.

**√Ä tester :** Essayez de cr√©er une nouvelle table et d'ex√©cuter vos propres requ√™tes ! üöÄ